<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <springProperty name="appName" source="spring.application.name" defaultValue="app"/>
  <springProperty name="log.level" source="logging.level.root" defaultValue="INFO"/>

  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <!-- 指定日志路径文件 logs/${appName} -->
  <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-logs/${appName}}/spring.log}"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

  <!--  <springProperty scope="context" name="lokiUrl" source="logging.loki.url"/>-->
  <!--  <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">-->
  <!--    <http>-->
  <!--      <url>${lokiUrl}</url>-->
  <!--    </http>-->
  <!--    <format>-->
  <!--      <label>-->
  <!--        <pattern>application=${appName},host=${HOSTNAME},level=%level</pattern>-->
  <!--      </label>-->
  <!--      <message>-->
  <!--        <pattern>${FILE_LOG_PATTERN}</pattern>-->
  <!--      </message>-->
  <!--      <sortByTime>true</sortByTime>-->
  <!--    </format>-->
  <!--  </appender>-->
  <!--  <root level="INFO">-->
  <!--    <appender-ref ref="LOKI"/>-->
  <!--  </root>-->

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>512</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="FILE"/>
  </appender>

  <root level="${log.level}">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="ASYNC"/>
  </root>

  <logger name="com.netflix" level="WARN"/>
  <logger name="com.netflix.config.sources.URLConfigurationSource" level="ERROR"/>
  <logger name="com.netflix.discovery" level="INFO"/>
  <logger name="io.undertow" level="WARN"/>
  <logger name="io.undertow.websockets.jsr" level="ERROR"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
  <logger name="org.postgresql" level="WARN"/>
  <logger name="org.springframework.boot.autoconfigure.logging" level="INFO"/>

</configuration>
